<div class="row">
  <div class="col-ms-12 col-md-6">
    <h2 class="text-center">Invetario de ingredientes</h2>

    @for(ingredient of inventories; track ingredient) {
    <div class="card m-2" style="width: 100%;">
      <div class="card-body bg-light">
        <h5 class="card-title">{{ ingredient.ingredient }}</h5>
        <p class="card-text">Stock: {{ ingredient.stock }}</p>
      </div>
    </div>
    }
  </div>
  <div class="col-ms-12 col-md-6">
    <h2 class="text-center">Historial de compras</h2>

    @for(purchase of purchases; track purchase) {
    <div class="card m-2" style="width: 100%;">
      <div class="card-body bg-light">
        <h5 class="card-title">Compra N° {{ purchase._id }}</h5>
        <p class="card-text">Orden N° {{ purchase.orderId }}</p>
        <p class="card-text">Plato de comida: {{ purchase.dishName }}</p>
      </div>
      <ul class="list-group list-group-flush">
        @for(ingredient of purchase.ingredientsPurchased; track ingredient) {
        <li class="list-group-item">{{ ingredient.quantityPurchase }} {{ ingredient.ingredient }}</li>
        }
      </ul>
    </div>
    }
  </div>
</div>
