MONGO_URI=mongodb://127.0.0.1:27017/DBFreeLunchDay

PORT=3005
NAME_SPACE=/ms/market

MAX_LISTENERS=20

KAFKA_BROKER=127.0.0.1:9092
KAFKA_CLIENT_ID=market-service
KAFKA_MARKET_TOPIC=market-topic
KAFKA_INVENTORY_TOPIC=inventory-topic

MARKET_TIME=10000
MARKET_PLACE_URI=https://recruitment.alegra.com/api/farmers-market/buy